@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=GFS+Didot");
body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'cwTeXYen', serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #3F5D45;
}

hr.light {
  border-color: #fff;
}

a {
  color: #3F5D45;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #3f5d45;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Microsoft JhengHei', serif;
}

.bg-primary {
  background-color: #3F5D45 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #3F5D45;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

footer {
  padding: 50px 0;
  background-color: #EAF0ED;
}
footer .l-con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .l-con .fa-facebook-square {
  font-size: 40px;
  position: relative;
  top: 6px;
  color: #3F5D45;
}
footer .l-con .box {
  color: #EAF0ED;
  background-color: #3F5D45;
  border-radius: 3px;
  font-size: 24px;
  padding: 7px 6px 5px 6px;
}
footer .r-con {
  display: flex;
  flex-direction: column;
}
footer .sweet {
  font-weight: bold;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  font-family: 'cwTeXYen', serif;
  font-size: 24px;
  color: #3F5D45;
  line-height: 0.6;
  margin-bottom: 30px;
}
footer .sweet p {
  display: inline-block;
  height: 70px;
  width: 1px;
  padding-top: 5px;
  background-color: #3F5D45;
}

.logo {
  font-weight: bold;
  color: #3F5D45;
  font-size: 36px;
  font-style: italic;
  font-family: 'GFS Didot';
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Microsoft JhengHei', serif;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#mainNav .navbar-brand {
  font-weight: bold;
  color: #3F5D45;
  font-size: 36px;
  font-style: italic;
  font-family: 'GFS Didot';
}
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #3f5d45;
}
#mainNav .navbar-brand img {
  position: relative;
  bottom: 5px;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #3F5D45;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #3F5D45 !important;
  background-color: transparent;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
    padding: 32px 8px;
  }
  #mainNav .navbar-brand {
    color: #8DA291;
    display: flex;
    align-items: center;
  }
  #mainNav .navbar-brand img {
    margin-right: 10px;
    bottom: 0;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #3F5D45;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0 30px;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.cart {
    padding-right: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #8DA291;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #3F5D45;
  }
  #mainNav.navbar-shrink {
    border-top: 5px solid #8DA291;
    background-color: #fff;
    padding: 5px 8px;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3);
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #3F5D45;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #3f5d45;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #3F5D45;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #8DA291;
  }
}

.text-primary {
  color: #3F5D45 !important;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #3F5D45;
  border-color: #3F5D45;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #354e3a !important;
}
.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

#index .banner {
  margin-top: 128px;
}
#index .banner .container {
  background-image: url("../img/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
#index .banner-con .row {
  transform: translateY(-50%);
}
#index .banner-con .row .column-word {
  max-height: 300px;
  height: 20vw;
  background-color: #3F5D45;
  border: 2px #fff solid;
  position: relative;
  font-family: 'Microsoft JhengHei', serif;
  overflow: hidden;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  letter-spacing: 4px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  #index .banner-con .row .column-word {
    height: 18vw;
  }
}
@media only screen and (max-width: 767px) and (min-width: 577px) {
  #index .banner-con .row .column-word {
    flex: 0 0 33%;
    max-width: 33%;
    height: 22vw;
  }
}
#index .banner-con .row .column-word .con {
  position: absolute;
  top: 0;
  left: -2px;
  height: 100%;
  width: 101%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: rgba(63, 93, 69, 0.8);
  color: #fff;
}
@media (max-width: 576px) {
  #index .banner-con .row .column-word .con {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 577px) {
  #index .banner-con .row .column-word .con {
    font-size: 18px;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  #index .banner-con .row .column-word .con {
    font-size: 20px;
  }
}
#index .banner-con .row .column-word::before {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
  position: absolute;
  top: -2.5%;
  left: -2.5%;
  height: 105%;
  width: 105%;
  content: '';
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#index .banner-con .row .column-word:nth-child(1) {
  font-weight: bold;
}
#index .banner-con .row .column-word:nth-child(1) .con {
  background-color: rgba(255, 225, 128, 0.8);
  color: #3F5D45;
}
#index .banner-con .row .column-word:nth-child(1)::before {
  background-image: url("../img/index/header-1.jpg");
}
#index .banner-con .row .column-word:nth-child(2) {
  border-right-width: 0;
  border-left-width: 0;
}
#index .banner-con .row .column-word:nth-child(2)::before {
  background-image: url("../img/index/header-2.jpg");
}
#index .banner-con .row .column-word:nth-child(3)::before {
  background-image: url("../img/index/header-3.jpg");
}
#index .banner-con .row .column-word:hover::before {
  transform: rotate(20deg) scale(1.5);
}
@media (max-width: 992px) {
  #index .banner {
    margin-top: 80px;
    background-image: url("../img/header.jpg");
    background-position: center center;
    background-size: cover;
  }
  #index .banner .container {
    background: none;
    height: 50vw;
  }
}
@media (max-width: 576px) {
  #index .banner-con .row {
    transform: translateY(0);
  }
  #index .banner-con .row .column-word {
    height: 30vw;
  }
}
#index .why {
  background-color: #EAF0ED;
  max-height: 420px;
  margin-bottom: 150px;
}
@media (max-width: 768px) {
  #index .why {
    max-height: none;
    margin-top: 80px;
    background-color: #fff;
  }
  #index .why.two .row {
    flex-wrap: wrap-reverse;
  }
}
#index .why .l-con {
  height: 420px;
}
#index .why .l-con .over-con {
  height: 110%;
  background-image: url("../img/index/why-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  bottom: 5%;
}
@media (max-width: 576px) {
  #index .why .l-con {
    height: 45vw;
    background-color: #EAF0ED;
  }
}
@media only screen and (max-width: 767px) and (min-width: 577px) {
  #index .why .l-con {
    height: 45vw;
    background-color: #EAF0ED;
  }
}
#index .why.two .l-con .over-con {
  background-image: url("../img/index/why-2.jpg");
}
#index .why .r-con {
  position: relative;
}
#index .why .r-con .title {
  position: absolute;
  right: 0;
  top: -5%;
  font-weight: bold;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  font-size: 38px;
  color: #3F5D45;
  line-height: 0.6;
}
#index .why .r-con .title p {
  display: inline-block;
  height: 70px;
  width: 1px;
  padding-top: 5px;
  background-color: #3F5D45;
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  #index .why .r-con .title {
    font-size: 34px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 577px) {
  #index .why .r-con .title {
    top: 50px;
  }
}
@media (max-width: 576px) {
  #index .why .r-con .title {
    position: relative;
    -webkit-writing-mode: unset;
    writing-mode: unset;
    line-height: 1.2;
    right: 0;
    margin-top: 30px;
    top: 0;
  }
  #index .why .r-con .title p {
    width: 70px;
    height: 1px;
    padding: 0;
    margin-left: 5px;
  }
}
#index .why .r-con .content {
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  font-family: 'Microsoft JhengHei', serif;
  font-size: 18px;
  width: calc(100% - 11vw);
  letter-spacing: 1px;
  padding: 50px 0;
  line-height: 2;
  color: #8DA291;
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  #index .why .r-con .content {
    width: calc(100% - 10vw);
    font-size: 19px;
    line-height: 1.8;
  }
}
@media only screen and (max-width: 767px) and (min-width: 577px) {
  #index .why .r-con .content {
    display: flex;
    align-items: flex-end;
  }
}
@media (max-width: 576px) {
  #index .why .r-con .content {
    width: 100%;
    writing-mode: unset;
    padding: 10px 0;
    letter-spacing: 0px;
    line-height: 1.5;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  #index .why .container {
    max-width: 95%;
  }
}
#index #bhr {
  display: flex;
  justify-content: center;
  align-items: center;
}
#index #bhr h2 {
  font-weight: bold;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  font-family: 'cwTeXYen', serif;
  font-size: 38px;
  color: #3F5D45;
  line-height: 0.6;
}
#index #bhr h2 p {
  display: inline-block;
  height: 70px;
  width: 1px;
  padding-top: 5px;
  background-color: #3F5D45;
}
#index #shop {
  padding-bottom: 0;
}
#index #shop .con {
  padding-bottom: 50px;
}
#index #shop .con .con-pic {
  height: 26.5vw;
  max-height: 410px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#index #shop .con .con-pic::before {
  content: '本日精選';
  position: absolute;
  padding: 10px 5px;
  background-color: #3F5D45;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  left: 5px;
  top: 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 5px;
  font-family: 'Microsoft JhengHei', serif;
  z-index: 2;
}
#index #shop .con .con-pic::after {
  content: '';
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#index #shop .con .con-pic .like {
  position: absolute;
  font-size: 20px;
  right: 20px;
  top: 20px;
  color: #3F5D45;
  cursor: pointer;
  z-index: 2;
}
#index #shop .con .con-pic .like.click {
  font-weight: bold;
  animation-name: jump;
  animation-duration: 0.3s;
}
#index #shop .con .bio {
  border-right: 1px #f6f6f6 solid;
  border-left: 1px #f6f6f6 solid;
}
#index #shop .con .bio span {
  text-align: center;
  font-size: 22px;
  padding: 10px 0;
  color: #3F5D45;
}
#index #shop .con .bio span:nth-child(1) {
  flex: 8;
  border-right: 1px #e6e6e6 solid;
}
#index #shop .con .bio span:nth-child(2) {
  flex: 4;
  font-weight: bold;
}
#index #shop .con button {
  width: 100%;
  background-color: #EAF0ED;
  color: #3F5D45;
  font-size: 24px;
  padding: 17px 0;
  font-weight: bold;
  border: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
#index #shop .con button:hover {
  background-color: #3F5D45;
  color: #fff;
}
#index #shop .con:hover .con-pic::after {
  opacity: 1;
}
#index #follow {
  padding: 30px 0;
  background-color: #3F5D45;
}
#index #follow .con {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #EAF0ED;
}
#index #follow .con span {
  margin-left: 15px;
  font-family: 'Microsoft JhengHei', serif;
}
#index #follow .input-group-prepend {
  background-color: #EAF0ED;
}
#index #follow .input-group-prepend .input-group-text {
  padding-left: 24px;
  font-size: 20px;
}
#index #follow input {
  height: 56px;
  background-color: #EAF0ED;
  border: none;
  font-size: 22px;
}
#index #follow input:focus {
  box-shadow: none;
}
#index #follow .send-follow {
  background-color: #FFE180;
  color: #3F5D45;
  border: none;
  padding: 0 24px;
  font-size: 20px;
}

@keyframes jump {
  0% {
    top: 20px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 20px;
  }
}
