// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $dark-primary;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

#follow{
  padding: 30px 0;
  background-color: $dark-primary;
  .con{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: $blue;
    span{
      margin-left: 15px;
      @include sans-serif-font();
    }
    @media (max-width: 768px){
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  .input-group-prepend{
    background-color: $blue;
    .input-group-text{
      padding-left: 24px;
      font-size: 20px;
    }
  }
  input{
    height: 56px;
    background-color: $blue;
    border: none;
    font-size: 22px;
    &:focus{
      box-shadow: none;
    }
  }
  .send-follow{
    background-color: $yellow;
    color: $dark-primary;
    border: none;
    padding: 0 24px;
    font-size: 20px;
    @include transition-all;
    cursor: pointer;
    &:hover{
      background-color: lighten($yellow, 5)
    }
  }
}
footer{
  padding: 50px 0;
  background-color: $blue;
  .l-con{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    color: $dark-primary;
    .fa-facebook-square{
      font-size: 40px;
      position: relative;
      top: 6px;
      color: $dark-primary;
    }
    .box{
      color: $blue;
      background-color: $dark-primary;
      border-radius: 5px;
      font-size: 24px;
      padding: 7px 6px 5px 6px;
    }
  }
  .r-con{
    display: flex;
    flex-direction: column;
    p{
      text-align: right;
      color: $dark-primary;
      margin-bottom: 0;
    }
    @media (max-width: 768px){
      p{
        text-align: left;
        padding-top: 20px;
      }
    }
  }
  .sweet{
    font-weight: bold;
    @include straight-word;
    @include serif-font();
    font-size: 24px;
    color: $dark-primary;
    line-height: 0.6;
    margin-bottom: 30px;
    p{
      display: inline-block;
      height: 70px;
      width: 1px;
      padding-top: 5px;
      background-color: $dark-primary;
    }
  }
}
.logo {
  font-weight: bold;
  color: $primary;
  font-size: 36px;
  font-style: italic;
  font-family: 'GFS Didot';
}
.visible-xs{
  display: none;
  @media (max-width: 768px){
    display: block;
  }
}
.hidden-xs{
  display: block;
  @media (max-width: 768px){
    display: none;
  }
}