#index{
	.banner{
		margin-top: 128px;
		.container{
			background-image: url('../img/header.jpg');
			@include bg-cover;
			height: 500px;
		}
	}
	.banner-con{
		.row{
			transform: translateY(-50%);
			.column-word{
			    max-height: 300px;
				height: 20vw;
				background-color: $dark-primary;
			    border: 2px #fff solid;
			    position: relative;
			    @include sans-serif-font();
			    overflow: hidden;
			    @include straight-word;
			    letter-spacing: 4px;
			    box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
			    @media only screen and (max-width: 991px) and (min-width: 768px){
					height: 18vw;
			    }
			    @media only screen and (max-width: 767px) and (min-width: 577px){
					flex: 0 0 33%;
				    max-width: 33%;
				    height: 22vw;
			    }
			    .con{
			    	position: absolute;
		    	    top: 0;
		    	    left: -2px;
		    	    height: 100%;
		    	    width: 101%;
			    	@include flex-center;
			    	font-size: 24px;
			    	background-color: fade-out($primary, .2);
			    	color: #fff;
			    	@media (max-width: 576px){
			    		font-size: 16px;
			    	}
			    	@media only screen and (max-width: 767px) and (min-width: 577px){
			    		font-size: 18px;
			    	}
		    	    @media only screen and (max-width: 991px) and (min-width: 768px){
		    			font-size: 20px;
		    	    }
			    }
			    &::before{
    		    	@include bg-cover;
    		    	filter:blur(5px);
    		    	position: absolute;
    	    	    top: -2.5%;
    	    	    left: -2.5%;
    	    	    height: 105%;
    	    	    width: 105%;
    	    	    content: '';
    	    	    @include transition-all(0.5s)
			    }
			    &:nth-child(1){
					font-weight: bold;
					.con{
						background-color: fade-out($yellow, .2);
						color: $dark-primary;
					}
			    	&::before{
				    	background-image: url('../img/index/header-1.jpg');
			    	}
			    }
			    &:nth-child(2){
			    	border-right-width: 0;
			    	border-left-width: 0;
			    	&::before{
				    	background-image: url('../img/index/header-2.jpg');
			    	}
			    }
			    &:nth-child(3)::before{
			    	background-image: url('../img/index/header-3.jpg');
			    }
			    &:hover{
			    	&::before{
						transform: rotate(20deg) scale(1.5);
			    	}
			    }
			}
		}
	}
	@media (max-width: 992px){
		.banner{
			.container{
				background: none;
				height: 50vw;
			}
			margin-top: 80px;
			background-image: url('../img/header.jpg');
			background-position: center center;
			background-size: cover;
		}
	}
	@media (max-width: 576px){
		.banner-con{
			.row{
				transform: translateY(0);
				.column-word{
					height: 30vw;
				}
			}
		}
	}
	.why{
		background-color: $blue;
		max-height: 420px;
		margin-bottom: 150px;
		@media (max-width: 768px){
			max-height: none;
			margin-top: 80px;
			background-color: #fff;
			&.two{
				.row{
					flex-wrap: wrap-reverse;
				}
			}
		}
		.l-con{
			height: 420px;
			.over-con{
				height: 110%;
				background-image: url('../img/index/why-1.jpg');
				@include bg-cover;
				position: relative;
				bottom: 5%;
			}
			@media (max-width: 576px){
				height: 45vw;
				background-color: $blue;
			}
			@media only screen and (max-width: 767px) and (min-width: 577px){
				height: 45vw;
				background-color: $blue;
			}
		}
		&.two{
			.l-con .over-con{
				background-image: url('../img/index/why-2.jpg');
			}
		}
		.r-con{
			position: relative;
			.title{
				position: absolute;
				right: 0;
				top: -5%;
				font-weight: bold;
				@include straight-word;
				font-size: 38px;
				color: $dark-primary;
				line-height: 0.6;
				p{
					display: inline-block;
					height: 70px;
					width: 1px;
					padding-top: 5px;
					background-color: $dark-primary;
					
				}
				@media only screen and (max-width: 991px) and (min-width: 768px){
					font-size: 34px;
				}
			    @media only screen and (max-width: 767px) and (min-width: 577px){
					top: 50px;
			    }
			    @media (max-width: 576px){
					position: relative;
					-webkit-writing-mode: unset;
					writing-mode: unset;
					line-height: 1.2;
					right: 0;
					margin-top: 30px;
					top: 0;
					p{
						width: 70px;
					    height: 1px;
					    padding: 0;
					    margin-left: 5px;
					}
				}
			}
			.content{
				@include straight-word;
				@include sans-serif-font();
				font-size: 18px;
				width: calc(100% - 11vw);
				letter-spacing: 1px;
			    padding: 50px 0;
			    line-height: 2;
			    color: $light-primary;
			    @media only screen and (max-width: 991px) and (min-width: 768px){
			    	width: calc(100% - 10vw);
			    	font-size: 19px;
			    	line-height: 1.8;
			    }
			    @media only screen and (max-width: 767px) and (min-width: 577px){
					display: flex;
					align-items: flex-end;
			    }
			    @media (max-width: 576px){
			    	width: 100%;
			    	writing-mode: unset;
			    	padding: 10px 0;
			    	letter-spacing: 0px;
			    	line-height: 1.5;
			    }
			}
		}
		.container{
			@media only screen and (max-width: 991px) and (min-width: 768px){
				max-width: 95%;
			}
		}
		
	}
	#bhr{
		@include flex-center;
		h2{
			font-weight: bold;
			@include straight-word;
			@include serif-font();
			font-size: 38px;
			color: $dark-primary;
			line-height: 0.6;
			p{
				display: inline-block;
				height: 70px;
				width: 1px;
				padding-top: 5px;
				background-color: $dark-primary;
				
			}
		}
	}
	#shop{
		padding-bottom: 0;
		.con{
			padding-bottom: 50px;
			.con-pic{
				height: 26.5vw;
				max-height: 410px;
				@include bg-cover;
				position: relative;
				@include transition-all;
				&::before{
					content:'本日精選';
					position: absolute;
					padding: 10px 5px;
					background-color: $dark-primary;
					@include straight-word;
					left: 5px;
					top: 0;
					font-size: 16px;
					color: #fff;
					letter-spacing: 5px;
					@include sans-serif-font();
					z-index: 2;
				}
				&::after{
					content:'';
					z-index: 1;
					width: 100%;
					height: 100%;
					background-color: rgba(255,255,255,0.3);
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					@include transition-all
				}
				.like{
					position: absolute;
					font-size: 20px;
					right: 20px;
					top: 20px;
					color: $dark-primary;
					cursor: pointer;
					z-index: 2;
					&.click{
						font-weight: bold;
						animation-name: jump;
					    animation-duration: 0.3s;
					}
				}
			}
			.bio{
				border-right: 1px #f6f6f6 solid;
				border-left: 1px #f6f6f6 solid;
				span{
					text-align: center;
					font-size: 22px;
					padding: 10px 0;
					color: $dark-primary;
					&:nth-child(1){
						flex:8;
						border-right: 1px #e6e6e6 solid;
					}
					&:nth-child(2){
						flex:4;
						font-weight: bold;
					}
				}
			}
			button{
				width: 100%;
				background-color: $blue;
				color: $dark-primary;
				font-size: 24px;
				padding: 17px 0;
				font-weight: bold;
				border: none;
				@include transition-all;
				cursor: pointer;
				&:hover{
					background-color: $dark-primary;
					color: #fff;
				}
			}
			&:hover{
				.con-pic::after{
					opacity: 1;
				}
			}
		}
	}
	#follow{
		padding: 30px 0;
		background-color: $dark-primary;
		.con{
			display: flex;
			align-items: center;
			font-size: 24px;
			color: $blue;
			span{
				margin-left: 15px;
				@include sans-serif-font();
			}
		}
		.input-group-prepend{
			background-color: $blue;
			.input-group-text{
				padding-left: 24px;
				font-size: 20px;
			}
		}
		input{
			height: 56px;
			background-color: $blue;
			border: none;
			font-size: 22px;
			&:focus{
				box-shadow: none;
			}
		}
		.send-follow{
			background-color: $yellow;
			color: $dark-primary;
			border: none;
			padding: 0 24px;
			font-size: 20px;
		}
	}

	@media only screen and (max-width: 767px) and (min-width: 577px){

	}
	@media only screen and (max-width: 991px) and (min-width: 768px){

	}
	@media only screen and (max-width: 1200px) and (min-width: 992px){

	}
}
@keyframes jump {
    0%   {top:20px}
    50%  {top:10px}
    100% {top:20px}
}